*, *:before, *:after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
 box-sizing: border-box;
}
body h1 {
  color: #000000;
}

.hi {
  color: red;
  text-align: center;
  font-size: 100;
}

.nav {
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  list-style-type: none;
  background-color: #333;
  text-decoration: none;
}

#signin {
  align-self: center;
}

#shell {
  background:#CFFCED; 
  border-radius: 10px 10px 10px 10px;
  overflow:hidden;
 }


.footer {
  position: fixed;
  left: 0px;
  bottom: 25px;
  height:30px;
  width:100%;

}

.uicard {
  width: 500px;
  margin:0px auto;
}

#tallbox{
  width: 400px;

}

#themainhead{
  color: #66DFB7;

}

textarea{
  border-radius: 8px;
  height: 113px !important;
  width: 600px !important;
  }

#thecommentphoto{
height: 10%;
width: 10%;
}

#ourstory{
  font-family: "courier";
  text-indent: 50px;
  font-style: normal;
  font-size: 20px;
}

#restimg{
  height: 320px;
}

#rcorners2 {
  border-radius: 10px;
}

#rcorners1 {
  width:30%;
  height:-30%;

}

#image1 {
  position: relative;
  width: 138px;
  height: 138px;
  overflow: hidden;

}

.menulist{
  display: flex;
  flex-wrap: wrap;
}
.menuliststyle{
  display: flex;
  padding: 0.5em;
	width: 100%;
}

@media all and (min-width: 40em) {
  .menuliststyle{
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .menuliststyle{
    width: 33.33%;
  }
}

#something {
  display: inline-block;
  width: 30px;
  padding: 30px 0 0 0;
  height: 30px;
  overflow: hidden;
  background: url("https://image.flaticon.com/icons/png/512/61/61050.png") no-repeat;
  border-radius: 2px;
   background-size: 30px 30px;
}

.bg {
  background-color:#FFFFFF;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color:rgb(237, 237, 237);
}
.Site {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
li{
  list-style-type: none;
}
