*, *:before, *:after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
 box-sizing: border-box;
}
body h1 {
  color: #000000;
}

.hi {
  color: red;
  text-align: center;
  font-size: 100;
}

.nav {
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  // background: #FFFFFF;
  // padding: 20px;

  list-style-type: none;
  background-color: #333;
  text-decoration: none;
}

#signin {
  align-self: center;
}

.footer {
  // display: flex;
  // align-items: baseline;
  // justify-content: space-around;
  position: fixed;
  left: 0px;
  bottom: 25px;
  height:30px;
  width:100%;

}

.uicard {
  width: 500px;
  margin:0px auto;
}

#tallbox{
  width: 400px;

}

#themainhead{
  color: #50E3C2;
  
}


// textarea{
//   height: 20px !important;
//   width: 455px !important;
//   }

  

#ourstory{
  font-family: "courier";
  text-indent: 50px;
  font-style: normal;
  font-size: 20px;
}

#restimg{
  height: 320px;
  // -webkit-filter: blur(10px);
  // -webkit-filter: blur(2px);
}

.listStyle{
  color: white;
}
#rcorners2 {
  border-radius: 10px;
}

#rcorners1 {
  // border-radius: 10px;
  width:30%;
  // position: absolute;
  // // left: 100px;
  // clip: rect(0px,200px,200px,0px);
  height:-30%;
 
}

#image1 {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;

}

.menulist{
  display: flex;
  flex-wrap: wrap;
}
.menuliststyle{
  display: flex; 
  padding: 0.5em;
	width: 100%;
}

@media all and (min-width: 40em) {
  .menuliststyle{
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .menuliststyle{
    width: 33.33%;
  }
}

#something {
  display: inline-block;
  width: 30px;
  padding: 30px 0 0 0;
  height: 30px;
  overflow: hidden;
  // -webkit-box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // box-sizing: border-box;
  background: url("https://image.flaticon.com/icons/png/512/61/61050.png") no-repeat;
  border-radius: 2px;
   background-size: 30px 30px;
}

.bg {
  /* The image used */
  background-image: url(https://static.pexels.com/photos/256318/pexels-photo-256318.jpeg);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color:#f1f2f6;
}

// .nav li {
//   color: white;
//   float:left;
//   padding: 5px 10px;
//   // margin: 10px;
// }
//
// .signin {
//   float: right;
// }

/*
display: flex;


The frogs need to get in the same order as their lilypads using flex-direction. This CSS property defines the direction items are placed in the container, and accepts the following values:
flex-direction
  row: Items are placed the same as the text direction.
  row-reverse: Items are placed opposite to the text direction.
  column: Items are placed top to bottom.
  column-reverse: Items are placed bottom to top.

justify-content
  flex-start
  flex-end
  center
  space-around
  space-between


align-items to get to the bottom.
This CSS property aligns items vertically and accepts the following values:

align-items
  flex-start: Items align to the top of the container.
  flex-end: Items align to the bottom of the container.
  center: Items align at the vertical center of the container.
  baseline: Items display at the baseline of the container.
  stretch: Items are stretched to fit the container.
*/
